* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  .mdui-drawer {
    background-color: #303030;
  }
}
.card-cover {
  height: 200px;
  object-fit: cover;
}
