* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  .zoom-container {
    position: fixed;
    top: 0;
    left: 240px;
    width: calc(100% - 240px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }
  .mdui-drawer {
    background-color: #303030;
  }
  .mdui-container {
    padding: 100px 0;
    max-width: 1024px;
    /* transform: translateY(-200px); */
  }
  .mdui-card-media {
    height: 200px;
  }
}
.card-cover,
.card-cover-thumbnail {
  height: 200px;
  object-fit: cover;
}
.card-cover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.border-radius-5 {
  border-radius: 5px;
}
.hover-border {
  transition: box-shadow 0.5 ease-in-out;
  &:hover {
    box-shadow: 0 0 0 3px #7c4dff70;
  }
}

.medium-zoom-overlay {
  z-index: 5001;
}
.medium-zoom-image--opened {
  z-index: 5002;
}
.load-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  .post-thumb-img,
  .post-img {
    height: 480px;
    width: auto;
    display: block;
    transition: opacity 0.5s linear;
    position: relative;
    /* object-fit: contain; */
  }
  .post-img {
    position: absolute;
  }
  .loaded-image {
    opacity: 0;
    transition-duration: 0.2s;
    pointer-events: none;
  }
}

.homepage {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  .info {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee20;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 5px;
    .avatar {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 100%;
      }
    }
    .author {
      font-size: 22px;
    }
    .signature {
      font-size: 14px;
      color: #c1c1c1;
    }
  }
  picture {
    pointer-events: none;
    user-select: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.1s linear;
    will-change: transform;
    pointer-events: none;
    user-select: none;
  }
  .thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
}
