<div class="mdui-card mdui-hoverable border-radius-5">
  <div class="mdui-card-content"><%- page.content %></div>
  <div class="mdui-card-content"><%- url_for(page.path + page.cover) %></div>
</div>
