<div class="fixed-userinfo border-radius-12">
    <div class="content">
        <div class="avatar">
            <picture>
                <source
                    srcset="https://cdn.jsdelivr.net/gh/qq1710558873-source/cdn/image/avatar.webp"
                    type="image/webp"
                />
                <img src="/images/avatar.jpg" alt="" width="200" height="200" />
            </picture>
        </div>
        <div class="author"><%= config.author %></div>
    </div>
</div>
